
body{
    background: #FFFFFF;
}

/* ----------------
    header part css
 ---------------------*/

header{
    
    background-color: #2D25A0;

   
}

.header-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.left-part{
    width: 485px;
    margin-left: 156px;
    margin-top: 207px;
    margin-right: 102px;
}
.left-part h2{
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.button{
    display: flex;
    text-align: center;
    height: 44px;
    margin-bottom: 169px;
    
}
.button .text{
    margin-right: 8px;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


}
.text i{
    margin-left: 8px;
}

.banner{
    width: 556px;
    height: 438px;
    margin-top: 135px;
    margin-right: 140px;
    margin-bottom: 86px;
}
.banner img{
    width: 100%;
    height: 100%;
}



/* ----------------
    main part css
 ---------------------*/

.container{
    display: flex;
    justify-content: center;
    padding-left: 180px;
    padding-right: 210px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin-top: 70px;
}

.player{
    width: 330px;
    /* height: 474px; */
    padding: 15px;
    margin-bottom: 27px;
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-photo img{
    width: 100%;
}
.player h3{
    color: #18191F;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.player p{
    font-family: Poppins;
    color: #6C6C6C;
    size: 16px;
    font-weight: 400px;
    font-style: normal;
    line-height: 26px;
}

/* ---------------------------
         footer styles
------------------------- */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 63px;
    margin-top: 158px;
}

.footer-photo img{
    width: 483px;
    height: 110px;

}


.social-media{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
.social-media img{
    width: 32px;
    height: 32px;
    margin-right: 14px;
}


.copyright{
    margin-top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px
}

/* ----------------------
    mobile responsive 
----------------------*/

@media only screen and (max-width:688px){
   
    .header-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 360px;
        height: 695px;
        justify-content: space-between;
 
    }
    
    .left-part{
        width: 278px;
        height: 138px;
        margin-left: 16px;
        margin-top: 112px;
        margin-right: 66px;
    }

    .left-part h2{
        color: #FFFFFF;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
    }

    .button{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .banner{
        width: 329px;
        height: 259px;
        margin-left: 15px;
        margin-right: 16px; 
    }

    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 47px;
        width: 360px;
    }
    .player{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 24px;
        padding: 15px;
    }

    .player-photo image{
        width: 330px;
        /* height: 100%; */
    }

    .footer-photo img{
        width: 275px;
        height: 63px;
    }

    .social-media{
        margin-top: 20px;
    }
    
}